CONFIG_EFI_ARMSTUB_DTB_LOADER=n
CONFIG_EFI_COCO_SECRET=n
CONFIG_EFI_CUSTOM_SSDT_OVERLAYS=n
CONFIG_EFI_HANDOVER_PROTOCOL=n
CONFIG_EFI_PARTITION=n
CONFIG_EFI_SECRET=n
CONFIG_EFI_SOFT_RESERVE=n
CONFIG_EFI_STUB=n
CONFIG_EFI_TEST=n
CONFIG_EFIVAR_FS=n
CONFIG_EFI_VARS_PSTORE_DEFAULT_DISABLE=n
CONFIG_EFI_VARS_PSTORE=n
CONFIG_EFI=n
CONFIG_EFI_ZBOOT=n
